.main-banner {
  background-color: black;
  margin-top: 67px;
  height: 50vh;
  width: 100%;
}
h1 {
  color: white;
}
.banner {
  height: 70%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.banner-btn {
    text-align: left;
}
.banner-subdiv {

  display: block !important;
}
